html {
    color: #fff;
    font-size: 62.5%;
    line-height: 1.4;
}

@media (min-width: 30rem) {
    html {
        font-size: 200%;
    }
}
@media (min-width: 80em) {
    html {
        font-size: 300%;
    }
}

html, body {
    margin: 0;
    height: 100%;
}

header {
    background-image: url(../img/takeoff.png);
    height: 100%;
    min-height: 100%;
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;    
}

header:before {
    opacity: 0.5;
    background: linear-gradient(to bottom right, rgba(194,91,134,0.7) 0%, rgba(66,148,208,0.7) 100%),
        url(../img/square.png) repeat;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

header h1 {
    margin: 0;
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    display: block;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(400%);
    }
    100% {
        transform: translateX(0);
    }
}

header h1 span {
    color: #ed1c24;
    background-color: rgba(0,0,0, 0.9);
    padding: 0 0.5rem;
    display: inline-block;

    animation: 0.6s ease-out 0s 1 slideInFromLeft;
}

header #content {
    position: absolute;
    width: 90%;
    padding-left: 10%;
    padding-right: 10%;
    top: 40%;
    z-index: 2000;
}

header #content section {
    float: left;
    width: 24%;
    padding-left: 3%;
    padding-right: 3%;
}

header #content section h2 {
    color: white;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
}

header #content section ul {
    padding: 0;
    margin-top: 0.1rem;
}

header #content section ul li {
    display: block;
    list-style: none;
    margin-left: 0.1rem;
    font-size: 0.5rem;
    height: 0.8rem;
}

header #content section a,
header #content section a:visited {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.8;
    padding: 0.2rem;
}
header #content section a:hover,
header #content section a:active {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    color: #ed1c24;
    background: black;
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    header #content section {
        float: none;
        width: 100%;
        display: block;
    }

    header #content section h2 {
        font-size: 0.8rem;
    }

    header #content section ul li {
        font-size: 0.6rem;
        height: 0.95rem;
    }
}

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 2em;
    font-size: 0.3rem;
    opacity: 0.9;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

footer .left {
    left: 3%;
    bottom: 0.2rem;
    position: absolute;
}
footer .right {
    right: 3%;
    bottom: 0.2rem;
    position: absolute;
}

footer a, footer a:visited, footer a:active {
    color: rgba(255,255,255, 1);
    text-decoration: none;
    padding: 0.1rem;
    opacity: 0.6;
}

footer .left a, footer .left a:visited, footer .left a:active {
    opacity: 1.0;
}

footer a:active, footer a:hover {
    color: #ed1c24;
    background: black;
    opacity: 1;
}
